@import 'swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
}
.input-field:focus {
    border-color: #3b82f6;
}